body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  background-position-y: 250px;
}
.blogpost{
  padding: 2%;
  

}
img{
  width: 100%
}
.blogpost{
  display: flex;
  flex-direction: column
}
.articleLink{
  padding-top: 2%
}
.postAuthor{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
}

.avatar{
  margin-right: 1%;
  
}
.postAuthorText{
  flex-grow: 1;
}
.chips{
  display: flex
}